/* fondo */
body {
    /* background: rgb(153, 150, 150); */
    background: rgb(61, 60, 60);
    background: radial-gradient(circle, rgb(61, 60, 60) 83%, rgba(33,143,13,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* division, efecto */
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: rgb(243, 239, 239); 
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

/* Tipografía */
* {
    font-family: 'Roboto', sans-serif;
}

/* Responsive */
@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .boton {
        display: flex;
        justify-content: center;
        margin-left: none;
    }
    #info {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 660px) {
    .titulos h4 {
        flex-direction: column;
    }
    .titulos span {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
@media (max-width: 360px) {
    #info {
        font-size: 0.7em;
    }
}