.container .right {
    position: relative;
    background: rgb(172, 170, 170); 
    padding: 40px;
    /* animacion */
    -webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
/* animacion */
@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
@keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

/* breve descripción */
.descripcion {
    margin-top: 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2.5px solid rgb(131, 127, 127); /* Barra separadora */
}
.descripcion p {
    font-size: 0.9em;
    margin-bottom: 20px;
    font-weight: 300;
}

/* estudios */
.educacion {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    border-bottom: 2.5px solid rgb(131, 127, 127); /* Barra separadora */
}
.educacion h3 {
    margin-bottom: -8px;
    font-size: 1.3em;
}
.titulos h4 {
    font-weight: 500;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
}
.titulos span {
    text-align: right;
    font-size: 0.8em;
    color: rgb(55, 55, 56);
}
.titulos p {
    color: rgb(55, 55, 56);
    margin-left: 2px;
    margin-top: -18px;
    font-size: 0.8em;
}
#año {
    margin-top: 15px;
    margin-bottom: -8px;
}

/* habilidades */
.habilidades {
    position: relative;
    flex-direction: column;
    align-items: right;
    margin-top: 10px;
}
.habilidades h3 {
    margin-bottom: 15px;
    font-size: 1.3em; 
}
.habilidades .percent .text {
    font-weight: 500;
    font-size: 1em;
}
.habilidades .percent .percent2 {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(131, 127, 127);
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}
.habilidades .percent .percent2 div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(33,143,13,1);
}